nav {
	height: 64px;
	display: flex;
	background: #000;
	padding: 8px 20px;
	align-items: center;
	a, .navitem {
		cursor: pointer;
		min-width: 150px;
		margin: 0 20px 0 0;
		&:last-child {
			margin: 0;
		}
		&.brand {
			flex: auto;
			font-family: 'Niconne', cursive;
			font-size: 32px;
		}
		&.btn{
			padding: 0 20px;
			border: 1px solid var(--border-color);
			color: var(--btn-text);
			padding: 6px 12px;
			border-radius: 8px;

		}
		&.close {
			min-width: 40px;
			padding: 0px;
			color: var(--text-label);
		}
		@media(max-width: 800px){
			&:nth-child(2){
				display: none;
			}
			&:first-child{
				max-width: none;
			}
			min-width: 120px;
			max-width: 120px;
		}
	}
}

.filters {
	padding: 5px 10px;
	small{
		color: #919191;
		&.label {
			padding-right: 20px;
		}
		&.item {
			margin: 2px 5px;
			display: inline-flex;
			align-items: center;
			background: #333;
    		padding: 5px 10px;
			border-radius: 20px;
			font-size: 10px;
			color: #a1a1a1;
			i {
				cursor: pointer;
				font-size: 10px;
				margin-left: 5px;
			}

		}
	}
}